<!DOCTYPE html>
{% load static %}           <!--letting the template know that we have static files-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Study-Amigos - Find study partners around the world!</title>
  </head>


    {% include 'navbar.html' %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% block content %}

    {% endblock content %}
    <script src="{% static 'JS/script.js' %}"></script>
  </body>
</html>















<!--This is going to be our template that is going to be the basic elements that are needed on all the pages of our website and we will 
do template inherittance using this template-->

<!-- getting teh basic html template is like type html:5 then hit tab-->

